{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

<h1>{{ post.title }}</h1>

<p>{{ post.content }}</p>

<form class="buttons">
    <button formmethod="GET"
            formaction="/users/{{ post.user_id }}">Back to User
        </button>
    
    <button formmethod="GET" 
            formaction="/posts/{{ post.id }}/edit">Edit
        </button>

    <button formmethod="POST"
            formaction="/posts/{{ post.id }}/delete">Delete
        </button>
</form>

{% endblock %}